<p id="notice"><%= notice %></p>

<h1>Random Lunch</h1>

<table>
  <thead>
    <tr>
      <th>Select Employee</th>
      <th>Name</th>
      <th>Address</th>
      <th>Preference</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_with(url: create_random_lunch_path, local: true) do |form| %>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= check_box_tag('employee_ids[]', employee.id) %></td>
          <td><%= employee.name %></td>
          <td><%= employee.address %></td>
          <td><%= employee.preference %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        </tr>
      <% end %>
      <%= form.submit %>
    <% end %>
  </tbody>
</table>

<br>
